// --------------------------------------------------------------
// == colors */
// --------------------------------------------------------------

// palette
// --------------------------------------------------------------

$color-primary-hue: 230;
$color-secondary-hue: 351;
$color-tertiary-hue: 38;

$color-primary: hsl($color-primary-hue, 59%, 14%);
$color-secondary: hsl($color-secondary-hue, 100%, 58%);
$color-tertiary: hsl($color-tertiary-hue, 99%, 67%);
$color-info: #2185d0;

// backgrounds
// --------------------------------------------------------------

$color-bg-head: hsl($color-primary-hue, 67%, 17%);

// texts
// --------------------------------------------------------------

$color-light-text: #fff;
$color-dark-text: #000;

// links
// --------------------------------------------------------------

$color-link: $color-light-text;

// brand
// --------------------------------------------------------------

$color-twitter: #55acee;
$color-facebook: #3b5998;
$color-google: #dd4b39;
$color-youtube: #e52d27;
$color-pinterest: #cc2127;
$color-vimeo: #1ab7ea;
$color-linkedin: #0976b4;
$color-instagram: #3f729b;
