// --------------------------------------------------------------
// == colors */
// --------------------------------------------------------------

// palette
// --------------------------------------------------------------

$color-primary: #0e1537;
$color-secondary: #ff2749;
$color-tertiary: #fec156;
$color-info: #2185d0;

// backgrounds
// --------------------------------------------------------------

$color-bg-head: #0e1848;

// texts
// --------------------------------------------------------------

$color-light-text: #fff;
$color-dark-text: #000;

// links
// --------------------------------------------------------------

$color-link: $color-light-text;

// brand
// --------------------------------------------------------------

$color-twitter: #55acee;
$color-facebook: #3b5998;
$color-google: #dd4b39;
$color-youtube: #e52d27;
$color-pinterest: #cc2127;
$color-vimeo: #1ab7ea;
$color-linkedin: #0976b4;
$color-instagram: #3f729b;
