/* ----------------------------------------------------------- */
/* == rwd -> reduced motion */
/* ----------------------------------------------------------- */

@media (prefers-reduced-motion: reduce) {
  /* Glitch text
  -------------------------------------------------------------- */

  .glitch::before,
  .glitch::after,
  .glitch--hover:hover::before,
  .glitch--hover:hover::after {
    animation: none;
  }

  /* Catalog
  -------------------------------------------------------------- */

  .catalog-item__content:hover .catalog-item__visual,
  .catalog-item__content:active .catalog-item__visual,
  .catalog-item__content:focus .catalog-item__visual {
    transform: none;
  }

  .coverGlitch,
  .coverGlitchSimpleHover:hover {
    animation: none;
  }


  /* Experimental View Transition API
  -------------------------------------------------------------- */

  html,
  .header__logo,
  .header__tagline,
  .navigation__item,
  .catalog-item__visual,
  .catalog-item__album,
  .catalog-item__artist,
  .album-cover__visual
  .album-name
  .album-artist {
    view-transition-name: none !important;
  }

}
