/* ----------------------------------------------------------- */
/* == custom fonts */
/* ----------------------------------------------------------- */


@font-face{
  font-family: "Source Sans 3 VF";
  font-weight: 400 900;
  font-style: normal;
  font-stretch: normal;
  font-display: fallback;
  src:
    local("SourceSans3VF"),
    url('/fonts/sourcesans3vf-upright.otf.woff2') format('woff2-variations');
}

@font-face{
  font-family: "Source Sans 3 VF";
  font-weight: 400 900;
  font-style: italic;
  font-stretch: normal;
  font-display: fallback;
  src:
    local("SourceSans3VF Italic"),
    url('/fonts/sourcesans3vf-italic.otf.woff2') format('woff2-variations');
}

// Fallback hack
// --------------------------------------------------------------

@font-face {
  font-family: "Source Sans Pro-fallback";
  size-adjust: 93.75%;
  src: local("Arial");
}
