/* ----------------------------------------------------------- */
/* == footer */
/* ----------------------------------------------------------- */

.footer {
  padding-top: 18rem;
  padding-bottom: 10rem;
  background: $color-primary url("/images/triforce.svg") no-repeat;
  background-position: center 10rem;
  text-align: center;
}
