<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body class="sans-serif">

    {{ block "header" . }}{{ partial "header" . }}{{end}}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    {{ $mobilemenu := resources.Get "js/menu.js" }}
    {{ $randomizer := resources.Get "js/random.js" }}
    {{ $js := slice $mobilemenu $randomizer | resources.Concat "js/bundle.js" }}
    {{ $secureJS := $js | resources.Fingerprint "sha512" }}
    <script src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
  </body>
</html>
