/* ----------------------------------------------------------- */
/* == Auth pages */
/* ----------------------------------------------------------- */

.auth-container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 40rem;
  width: 100%;
}

.auth-title {
  margin: 0;
  margin-top: 4rem;
  margin-bottom: 5rem;
  text-align: center;
  font-size: 5rem;
}
