<footer class="footer container container--medium">

  <div>
    {{ if (eq .Site.Params.author.name .Site.Params.creator.name) }}
      A website by
    {{ else }}
      A website published by
      {{ if isset .Site.Params.author "url" }}
        <span class="semibold"><a href="{{ .Site.Params.author.url }}">{{ .Site.Params.author.name }}</a></span>
      {{ else }}
        <span class="semibold">{{ .Site.Params.author.name }}</span>
      {{ end }}
      and built by
    {{ end }}
  </div>
  <a class="footer__logo" href="{{ .Site.Params.creator.url }}">
    {{ .Site.Params.creator.name }}
  </a>

  <div class="mt3">
    This project is <a href="https://github.com/GuerillaHQ/now-playing" rel="noopener noreferrer">open-source</a> under <a href="https://github.com/GuerillaHQ/now-playing/LICENSE" rel="noopener noreferrer">“I'm so tired”</a> license. However all albums visuals and streaming services logos rights belong entirely to their respective owners.
    {{ with .Site.GetPage "/" }}
    {{ with .OutputFormats.Get "rss" }}
      {{ printf ` — <a href="%s" class="semibold">RSS feed</a>` .Permalink | safeHTML }}
    {{ end }}
  {{ end }}
  </div>

  {{ if (and (isset .Site.Params.hosting "url") (isset .Site.Params.hosting "name")) }}
    <div class="mt2">
      {{ if isset .Site.Params.hosting "prefixtext" }} {{ .Site.Params.hosting.prefixtext }} {{ else }} Thanks to {{ end }}
      <a href="{{ .Site.Params.hosting.url }}" class="semibold">{{ .Site.Params.hosting.name }}</a>
      {{ if isset .Site.Params.hosting "suffixtext" }} {{ .Site.Params.hosting.suffixtext }} {{ else }} for hosting this site. {{ end }}
    </div>
  {{ end}}
</footer>
