{{ if .IsHome }}
  <header class="header header--home">
{{ else }}
  <header class="header">
{{ end }}
  <div class="container">
    <div class="header__left">
      <a class="header__logo glitch--hover" data-text="Now Playing" href="/" title="Homepage">Now Playing</a>
      <div class="header__tagline">
        Great music should be shared
      </div>
    </div>
    <nav class="navigation" data-menu="navigation">
      <a class="navigation__item {{ if .IsHome }}active{{ end }}" href="/">Latest</a>
      {{ with .OutputFormats.Get "RSS" }}
      <a class="navigation__item" href="{{ .RelPermalink }}">RSS</a>
      {{ end }}
      <button class="navigation__item" data-random="btn">Random</button>
    </nav>
    <div class="navigation__mobileOverlay" data-menu="overlay"></div>
    <button class="navigation__mobileBtn" data-menu="btn">
      Menu
    </button>
  </div>
</header>
