<header class="header">
  <div class="container">
    <div class="header__left">
      <a class="header__logo glitch--hover" data-text="Now Playing" href="/" title="Homepage">Now Playing</a>
      <div class="header__tagline">
        Great music should be shared
      </div>
    </div>
    <nav class="navigation" >
      <a class="navigation__item active" href="/">Latest</a>
      <button class="navigation__item">Random</button>
    </nav>
    <div class="navigation__mobileOverlay"></div>
    <button class="navigation__mobileBtn">
      Menu
    </button>
  </div>
</header>
