{{ $paginator := .Paginator }}
<!-- Pagination -->
{{ if gt $paginator.TotalPages 1 }}
  <div class="pagination">
    <div class="container">
      {{ if $paginator.HasNext }}
        <a class="btn btn--primary btn--big w100" href="{{ $paginator.Next.URL }}">Load moaaaar</a>
      {{ end }}
      <div class="pagination__side">
        {{ if $paginator.HasPrev }}
          <a class="btn btn--secondary w100" href="{{ $paginator.Prev.URL }}">Prev</a>
        {{ else }}
          <span class="btn btn--secondary w100 disabled">Prev</span>
        {{ end }}
        {{ if $paginator.HasNext }}
          <a class="btn btn--secondary w100" href="{{ $paginator.Next.URL }}">Next</a>
        {{ else }}
          <span class="btn btn--secondary w100 disabled">Next</span>
        {{ end }}
      </div>
    </div>
  </div>
{{ end}}
