{{ define "main" }}
<main>
  <div class="content">
    <div class="container">
      <h1 class="content-title txtcenter">The page could not be found.</h1>
      <div class="container container--small">
        Well, stuff can go wrong sometimes and maybe you mistyped a URL, tapped/clicked on a broken link or your computer just wants to drive you nuts. Anyway … keep calm and take a look at our beautiful homepage instead.
        <div class="txtcenter mt3">
          <a class="btn btn--primary" href="/">Go back to homepage</a>
        </div>
      </div>
    </div>
  </div>
</main>
{{end }}
